
<%
const categoriesList = list_categories({ show_count: false });
const tagsList = list_tags({ show_count: false });
const archivesList = list_archives({ show_count: false });
%>

<% if (is_year() === false) { %>
  <h1 style="margin-left: 200px;">Archives</h1>
  <div style="border-bottom: 1px solid #000"></div>

  <div id="archive" style="margin-left: 200px; margin-top: -50px;">

    <% if (theme.atom !== undefined) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    
    <br>
    <br>
    
    <aside>
      <h3>Tags</h3>
      <% if (tagsList !== "") { %>
        <%-tagsList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h3>Archives</h3>
      <% if (archivesList !== "") { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>

  <h1><%=page.month + '/' + page.year%></h1>

  <% page.posts.each(article => { %>
    <div class="archive-item">
      <a href="<%=url_for(article.path)%>">
        <%=article.title%>
      </a>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }) %>
  <div class='footer1' >
    <div style="border-top: 1px solid #000; padding-bottom: 20px; display: block"></div>
  <div id="paginator">
    <%-paginator()%>
  </div>
</div>

<div id="bottom-outer">
  <div id="bottom-inner" style=" position: absolute; bottom: 0; width: 99%;">
    <div style="margin-left: 43%;">
  © 2018-present Colt
    </div>
  </div>
  </div>
<% } %>
